@if (TempData["success"] != null)
{
    <h2>@TempData["success"]</h2>
    <script>
        toastr.success('@TempData["success"]');
    </script>
}

@if(TempData["false"] != null)
{
    <h2>@TempData["false"]</h2>
    <script>
        toastr.success('@TempData["success"]');
    </script>
}